body {
    margin: 0px;
    padding: 0px;
}

.main {
    position: absolute;
    height: 90vh;
    margin-top: 10vh;
    width: 100vw;
    display: flex;
}

.discution {
    position: relative;
    height: 100%;
    width: 20%;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

.discution::-webkit-scrollbar {
    display: none;
}

.discutionlien {
    margin: 10px;
    text-decoration: none;
}

.discutionlien div {
    border: 1px solid var(--clr-primary);
    background: transparent;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    transition: 500ms;
    color: var(--clr-primary);
}

.discutionnom {
    font-size: 2em;
    text-align: center;
}

.discutionmessage {
    text-align: center;
    position: relative;
    width: 100%;
    color: #333;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discutionlien div:hover {
    background: var(--clr-primary);
    color: #fff;
}

.discutionlien div:hover .discutionmessage {
    color: hsl(0, 0%, 80%);
}

.chat {
    border-left: 5px solid var(--clr-primary);
    position: relative;
    width: 80%;
    height: 100%;
    background: rgb(255, 255, 255);
}

.mainchat {
    position: relative;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /*Edge */
    scrollbar-width: none;
    /* Firefox */
    /* scroll-behavior: smooth; */
    overflow-x: hidden;
}

.mainchat::-webkit-scrollbar {
    display: none;
}

.chatinput {
    position: relative;
    width: 100%;
    height: 10%;
    background: var(--clr-primary);
}

.message {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 75%;
    display: flex;
}

.message input {
    all: unset;
    color: rgb(21, 66, 10);
    text-align: center;
    background: white;
    position: relative;
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 444444444px;
}

.send {
    position: absolute;
    height: calc(6.45vh - 20px);
    width: calc(6.45vh - 20px);
    background: #2f743b;
    border-radius: 50%;
    right: 0.15vh;
    top: 0.15vh;
    padding: 10px;
    cursor: pointer;
    box-sizing: unset;
}

.mainchat div {
    position: relative;
    border-radius: 4444444444px;
    border-bottom-left-radius: 0px;
    margin: 10px;
    height: max-content;
    max-width: 80vw;
    width: max-content;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.mainchat .you {
    left: 0px;
    background: #dbd3d3;
}

.mainchat .me {
    border-radius: 4444444444px;
    border-bottom-right-radius: 0px;
    left: 100%;
    transform: translateX(calc(-100% - 20px));
    background: #2f743b;
    color: white;
}

span {
    overflow-wrap: break-word;
    max-width: calc(80vw - 2em);
}

.mesmessagenav {
    display: none;
}


/*                          page sans chat ouvert:  */

.bvnsurvosmessage {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    color: var(--clr-primary);
    font-size: calc(2em - 5px);
}


/*                          fin page sans chat ouvert:  */


/*////////////////responsive 900px (téléphone et autre)//////*/

@media screen and (max-width: 900px) {
    .mainchat div {
        font-size: 1rem;
    }
    .discution {
        display: none;
    }
    .mainchat {
        background: rgb(255, 255, 255);
    }
    .message {
        width: 90%;
    }
    .chat {
        width: 100%;
        border-left: none;
    }
}


/*/////////////////responsive 1300px (tablette et autre intermédiaire)///////////////////////////////////////////////////////////*/

@media screen and (min-width: 900px) {
    @media screen and (max-width: 1300px) {
        .discution {
            display: none;
        }
        .message {
            width: 80%;
        }
        .mainchat div {
            font-size: 3vw;
        }
        .chat {
            border-left: none;
            width: 100%;
        }
    }
}