body {
    margin: 0;
    padding: 0;
    background-image: url("../../assets/environment1.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

header {
    margin: 40px 40px;
}

.registerForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 400px;
    background-color: rgb(213, 235, 213);
    border-radius: 10px;
    /* box-shadow: 2px 2px 10px #2f743b; */
}

.registerForm h1 {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #adadad;
    color: #2f743b;
}

.registerForm form {
    padding: 0 40px;
    box-sizing: border-box;
}

.txtfield {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txtfield input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txtfield label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txtfield span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2f743b;
    transition: .5s;
}

.txtfield input:focus~label,
.txtfield input:valid~label {
    top: -5px;
    color: #2f743b;
}

.txtfield input:focus~span::before,
.txtfield input:valid~span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

.submitButton {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2f743b;
    border-radius: 25px;
    font-size: 18px;
    color: rgb(213, 235, 213);
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.submitButton:hover {
    border-color: #2f743b;
    transition: .5s;
}

.submitButton p {
    text-align: center;
    padding-top: 10px;
}

.singinLink {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.singinLink a {
    color: #2f743b;
    text-decoration: none;
}

.singinLink a:hover {
    text-decoration: underline;
}

#errs {
    color: #2f743b;
    transition: .5s;
    padding-bottom: 3vh;
}

.err {
    color: red;
    transition: .5s;
}






/*////////////////responsive 900px (téléphone et autre)//////*/
@media screen and (max-width: 900px){
    


}


/*/////////////////responsive 1500px (tablette et autre intermédiaire)///////////////////////////////////////////////////////////*/
@media screen and (min-width: 900px) {
@media screen and (max-width: 1500px){
 


}}
