<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: green;
    padding-bottom: 10px;
    padding-top: 10px;
}

nav ul li {
    background-color: green;
    border: black 1px solid;
    height: 8vh;
    /* width: calc(auto + 5vw); */
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    border-radius: 800000000px;
    box-shadow: 0px 0px 0px black;
    display: flex;
}

nav ul li:hover {
    transition: all ease-in-out 0.5s;
    background-color: rgba(195, 204, 66);
    color: green;
    box-shadow: 0.5vw 0.5vw black;
    transform: translate(-0.5vw, -0.5vw);
}

nav ul li a {
    text-decoration: none;
    color: rgba(195, 204, 66, 1);
    height: 7vh;
    display: block;
    border-radius: 800000000px;
    padding: 20px;
}

nav ul li:hover a {
    transition: all ease-in-out 0.5s;
    color: green;
=======
* {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: green;
    padding-bottom: 10px;
    padding-top: 10px;
}

nav ul li {
    background-color: green;
    border: black 1px solid;
    height: 8vh;
    /* width: calc(auto + 5vw); */
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    border-radius: 800000000px;
    box-shadow: 0px 0px 0px black;
    display: flex;
}

nav ul li:hover {
    transition: all ease-in-out 0.5s;
    background-color: rgba(195, 204, 66);
    color: green;
    box-shadow: 0.5vw 0.5vw black;
    transform: translate(-0.5vw, -0.5vw);
}

nav ul li a {
    text-decoration: none;
    color: rgba(195, 204, 66, 1);
    height: 7vh;
    display: block;
    border-radius: 800000000px;
    padding: 20px;
}

nav ul li:hover a {
    transition: all ease-in-out 0.5s;
    color: green;
>>>>>>> e15dc6e8c5762f944feffb3300714a4f6e3710b4
}