@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --clr-primary: #2f743b;
}

header {
    z-index: 3;
    width: 100vw;
    height: 10vh;
    position: fixed;
    display: flex;
    overflow: hidden;
    margin: 0;
}

.gauche {
    position: relative;
    width: 50%;
    height: 100%;
    background: var(--clr-primary);
    display: flex;
}

.gauche a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 2.5%;
    text-decoration: none;
}

.gauche a h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    line-height: 3.5vh !important;
    transform: translateX(-2vw);
    transition: 300ms ease-in-out;
}

.gauche a h1 span {
    font-size: 1vw;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.droit #pro {
    padding: 5px;
    background-color: var(--clr-primary);
    color: #ffffff;
    border-radius: 5px 5px;
}

.droit #pro:hover {
    color: #333333;
    transition: 0.3s ease-in-out;
}

.droit img {
    transform: translate(0%, 25%);
    height: 25px;
}


/*////////////////responsive 900px (téléphone et autre)//////*/

@media screen and (max-width: 900px) {
    .gauche {
        display: none;
    }
    .droit {
        width: 100%;
    }
    .responsivlien {
        font-size: 2vw;
    }
    .responsivlien2 {
        font-size: 3vw;
    }
}


/*/////////////////responsive 1300px (tablette et autre intermédiaire)///////////////////////////////////////////////////////////*/

@media screen and (min-width: 900px) {
    @media screen and (max-width: 1300px) {
        .responsivlien {
            font-size: 1.3vw;
        }
        .responsivlien2 {
            font-size: 1.3vw;
        }
    }
}