body {
    background-image: url("../../assets/environment1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    margin: 40px 40px;
}

.main {
    height: 70vh;
    width: 60vw;
    border-radius: 60px;
    position: absolute;
    top: 20vh;
    left: 20vw;
    overflow: hidden;
}
.haut {
    position: relative;
    background: var(--clr-primary);
    height: 20%;
    display: flex;
}
.photo {
    border-radius: 50%;
    background-position: center;
    width: 120px;
    height: 120px;
    background: white;
    position: relative;
    left: 5%;
    top: 5%;
}
.haut h1 {
    position: relative;
    left: 30%;
    top: 30%;
    color: white;
    font-size: 2vw;
}
.bas {
    position: relative;
    background: white;
    height: 80%;
}
.email {
    position: relative;
    height: 8vh;
    width: 50%;
    left: 25%;
    background: rgb(231, 193, 193);
    top: 10vh;
}
.mdp {
    position: relative;
    height: 8vh;
    width: 50%;
    left: 25%;
    background: rgb(231, 193, 193);
    top: 20vh;
}
.changer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    width: 100%;
    top: 18vh;
}
.changeremail {
    width: 20vw;
    height: 8vh;
    text-align: center;
    color: var(--clr-primary);
}
.changermdp {
    width: 20vw;
    height: 8vh;
    text-align: center;
    color: var(--clr-primary);
}






/*                                      pro     */

.bvn {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bvn h1 {
    font-size: calc( 2em + 1.9vw);
    font-weight: bold;
    color: white;
}
/* .bvn h1 .h1 {
     background-image: linear-gradient(to right ,#fff 5%, var(--clr-primary) , #fff 95% ); 
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 
} */
.bvn h1 span {
    color: var(--clr-primary);
}
.mainpro {
    top: 100vh;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: white;
    padding-top: 10vh;
}
.mainpro form {
    height: 100%;
    width: 100%;
}
.titreprofilepro {
    position: relative;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    transform: translateY(5vh);
}
.namepro {
    width: 40vw;
    left: 25%;
    transform: translateX(-50%);
}
.biopro {
    width: 60vw;
    left: 30vw;
    transform: translateY(15vh);
}
.bioinpt {
    width: 60vw;
    left: 30vw;
    transform: translateY(15vh);
}
.emailin {
    width: 60vw;
    left: 30vw;
    transform: translateY(15vh);
}
.emailpro {
    width: 60vw;
    left: 30vw;
    transform: translateY(15vh);
}
.réparationin {
    width: 60vw;
    left: 30vw;
    transform: translateY(15vh);
}
.réparationpro {
    width: 60vw;
    left: 30vw;
    transform: translateY(15vh);
}
.titreprofilepro img {
    position: relative;
    width: 50vh;
}
#prodiv {
    margin-top: 2vh;
    position: relative;
    border: 3px solid black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary);
}
#proinpt {
    margin-top: 2vh;
    all: unset;
    position: relative;
    overflow: wrap;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btndivform {
    position: relative;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btndivform div {
    position: relative;
    background-color: var(--clr-primary);
    color: white;
    padding: 30px;
}



/*                                      fin pro */