body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow :hidden;
}
.main {
    position: absolute;
    width: 100vw;
    height: 90vh;
    top: 10vh;
}
.nom {
    position: absolute;
    width: max-content;
    top: 2vh;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 45px;
    padding: 25px;
    font-size: 2em;
    color: var(--clr-primary);
    text-decoration: underline var(--clr-primary);
}
.description {
    position: absolute;
    width: 60vw;
    left: 20vw;
    border: 1px solid var(--clr-primary);
    border-radius: 15px;
    top: 14vh;
    padding: 40px;
    max-height: 60vh;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}
.description::-webkit-scrollbar {
    display: none;
}
.btndiv {
    position: absolute;
    bottom: 2vh;
    height: 12vh;
    width: 50vw;
    left: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn {
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    border-radius: 25px;
    padding: 20px;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.btn:hover {
    background: var(--clr-primary);
    color: white;
    padding: 30px;
}